/* div.spot-reviews {
   position: relative;
    width: 250px;
   height: 250px;
   /* position: fixed; */




/* form {
    position: relative;
    top: 400px;
} */

.review-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(238, 17, 65);
    width: 100%;
}

div.review-box {
    position: relative;
    top: 550px;
    left: 200px;
    width: 720px;
}

input.review-inputs{
    position: relative;
    top: 700px;
    left: 120px;
    width: 350px;
}

button#create-review-button.review-buttons{
    position: relative;
    top: 550px;
    left: 200px;
    width: 360px;
}

h3.name-of-spot{
    position: relative;
    top: 325px;
    left: 700px;
    width: 360px;
}

p.list-of-reviews {
    position: relative;
    top: 325px;
    left: 700px;
    width: 360px;
}

li.li-li {
    position: relative;
    display: flex;
    flex-direction: column;
}
