.spot-reviews {
   width: 250px;
   height: 250px;
   /* position: fixed; */
   top: 1400px;

}

form {
    top: 1000px;
}

.review-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(238, 17, 65);
    width: 100%;
}
