
/* #spotDetailImage {
    width: 720px;
    height: 480px;
    display: flex;
}

div.spotDetails {
    text-align: left;
    display: flex;
    margin-top: .5%;
    width: 720px;
}

div.modalNavBar {
    position: relative;
}

button.spot-delete-button {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(238, 17, 65);
}

button.spot-edit-button {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(238, 17, 65);
} */


/* div.spot-details-buttons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;


} */

/* div.spot-image {
    min-width: 720px;
    min-height: 200px;
    justify-content: center;
    align-content: center;
} */


/* ul {
    list-style: none;
    margin: 0;
    padding: 0; */
    /* font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif; */
/* } */

/* a {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */

/* div.spotAddress {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.getReviews {

} */
