 #logo {
    height: 50%;
    width: 50%;

}

#user-circle {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.modalNavBar {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 8rem 0 8rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
}

.spotDetails {
    display: flex;
    position: absolute;
    top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
