 #logo {
    height: 100%;
    width: 100%;


}

button#user-circle {
    background-color: white;
    border: 0;
}

#createASpot {
    display: grid;
    position: relative;

}

.modalNavBar {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 8rem 0 8rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
    border-bottom: 1px rgb(223, 219, 219) solid
}

.spotDetails {
    display: flex;
    position: absolute;
    top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
